[submodule "AssemblyxSolidity"]
	path = AssemblyxSolidity
	url = https://github.com/dwaynerichards/AssemblyxSolidity.git
[submodule "hardhat-template"]
	path = hardhat-template
	url = https://github.com/dwaynerichards/hardhat-template.git
[submodule "ExpertSolidityJuly"]
	path = ExpertSolidityJuly
	url = https://github.com/dwaynerichards/ExpertSolidityJuly.git
[submodule "helloFoundry"]
	path = helloFoundry
	url = https://github.com/dwaynerichards/helloFoundry.git
